<div class="slider-container">
    <div class="slider" id="revolutionSlider">
        <ul>
            <li data-transition="fade" data-slotamount="10" data-masterspeed="300">
                <img src="{{ asset('bundles/intrixfrontend/img/slides/slide-bg.jpg') }}" data-fullwidthcentering="on" alt="">

                <div class="caption sft stb visible-desktop"
                     data-x="0"
                     data-y="180"
                     data-speed="300"
                     data-start="1000"
                     data-easing="easeOutExpo"><img src="{{ asset('bundles/intrixfrontend/img/slides/slide-title-border.png') }}" alt=""></div>

                <div class="caption top-label lfl stl"
                     data-x="45"
                     data-y="180"
                     data-speed="300"
                     data-start="500"
                     data-easing="easeOutExpo">VOCÊ PRECISA DE UM NOVO</div>

                <div class="caption sft stb visible-desktop"
                     data-x="360"
                     data-y="180"
                     data-speed="300"
                     data-start="1000"
                     data-easing="easeOutExpo"><img src="{{ asset('bundles/intrixfrontend/img/slides/slide-title-border.png') }}" alt=""></div>

                <div class="caption main-label sft stb"
                     data-x="45"
                     data-y="230"
                     data-speed="300"
                     data-start="1500"
                     data-easing="easeOutExpo">WEB SITE?</div>

                <div class="caption bottom-label sft stb"
                     data-x="50"
                     data-y="280"
                     data-speed="500"
                     data-start="2000"
                     data-easing="easeOutExpo">Confira nossas opções e recursos.</div>

                <div class="caption randomrotate"
                     data-x="800"
                     data-y="250"
                     data-speed="500"
                     data-start="2500"
                     data-easing="easeOutBack"><img src="{{ asset('bundles/intrixfrontend/img/slides/slide-concept-2-1.png') }}" alt=""></div>

                <div class="caption sfb"
                     data-x="850"
                     data-y="200"
                     data-speed="400"
                     data-start="3000"
                     data-easing="easeOutBack"><img src="{{ asset('bundles/intrixfrontend/img/slides/slide-concept-2-2.png') }}" alt=""></div>

                <div class="caption sfb"
                     data-x="820"
                     data-y="170"
                     data-speed="700"
                     data-start="3150"
                     data-easing="easeOutBack"><img src="{{ asset('bundles/intrixfrontend/img/slides/slide-concept-2-3.png') }}" alt=""></div>

                <div class="caption sfb"
                     data-x="770"
                     data-y="130"
                     data-speed="1000"
                     data-start="3250"
                     data-easing="easeOutBack"><img src="{{ asset('bundles/intrixfrontend/img/slides/slide-concept-2-4.png') }}" alt=""></div>

                <div class="caption sfb"
                     data-x="500"
                     data-y="80"
                     data-speed="600"
                     data-start="3450"
                     data-easing="easeOutExpo"><img src="{{ asset('bundles/intrixfrontend/img/slides/slide-concept-2-5.png') }}" alt=""></div>

                <div class="caption blackboard-text lfb "
                     data-x="530"
                     data-y="300"
                     data-speed="500"
                     data-start="3450"
                     data-easing="easeOutExpo" style="font-size: 37px;">Tire</div>

                <div class="caption blackboard-text lfb "
                     data-x="555"
                     data-y="350"
                     data-speed="500"
                     data-start="3650"
                     data-easing="easeOutExpo" style="font-size: 47px;">A sua ideia</div>

                <div class="caption blackboard-text lfb "
                     data-x="580"
                     data-y="400"
                     data-speed="500"
                     data-start="3850"
                     data-easing="easeOutExpo" style="font-size: 32px;">da caixa :)</div>
            </li>
            
            <li data-transition="fade" data-slotamount="10" data-masterspeed="300">
                <img src="{{ asset('bundles/intrixfrontend/img/slides/slide-bg.jpg') }}" data-fullwidthcentering="on" alt="">

                <div class="caption fade"
                     data-x="50"
                     data-y="100"
                     data-speed="2500"
                     data-start="200"
                     data-easing="easeOutExpo"><img src="{{ asset('bundles/intrixfrontend/img/slides/slide-concept.png') }}" alt=""></div>

                <div class="caption blackboard-text fade "
                     data-x="180"
                     data-y="180"
                     data-speed="1500" 
                     data-start="1000"
                     data-easing="easeOutExpo" style="font-size: 25px;">Seu projeto</div>

                <div class="caption blackboard-text fade "
                     data-x="180"
                     data-y="220"
                     data-speed="1500"
                     data-start="1200"
                     data-easing="easeOutExpo" style="font-size: 30px;">Na nuvem</div>

                <div class="caption main-label sft stb"
                     data-x="580"
                     data-y="200"
                     data-speed="300"
                     data-start="1500"
                     data-easing="easeOutExpo">Use a Intrix!</div>

                <div class="caption bottom-label sft stb"
                     data-x="640"
                     data-y="250"
                     data-speed="500"
                     data-start="2000"
                     data-easing="easeOutExpo">Para hospedar seus projetos.</div>

            </li>
        </ul>
    </div>
</div>