<header>
    <div class="container">
        <h1 class="logo">
            <a href="{{path('intrix_frontend_homepage')}}">
                <img alt="Intrix" src="{{ asset('bundles/intrixfrontend/img/logo.png') }}">
            </a>
        </h1>
        <div class="search">
            <form class="form-search" id="searchForm" action="page-search-results.html" method="get">
                <div class="control-group">
                    <input type="text" class="input-medium search-query" name="q" id="q" placeholder="Busca...">
                    <button class="search" type="submit"><i class="icon-search"></i></button>
                </div>
            </form>
        </div>
        
        <div class="social-icons">
            <ul class="social-icons">
                <li class="facebook"><a href="https://www.facebook.com/intrixinternet" target="_blank" title="Facebook">Facebook</a></li>
            </ul>
        </div>
        <nav>
            <ul class="nav nav-pills nav-main" id="mainMenu">
                {% set class = '' %}

                {% if home is defined %}
                    {% set class = 'active' %}
                {%endif%}
                <li class="{{class}}">
                    <a href="{{path('intrix_frontend_homepage')}}">Home</a>
                </li>
                {% set class = '' %}
                {% if sobre is defined %}
                    {% set class = 'active' %}
                {%endif%}
                <li class="{{class}}">
                    <a href="{{path('intrix_frontend_sobre')}}">Sobre nós</a>
                </li>
                {% set class = '' %}
                {% if servico is defined %}
                    {% set class = 'active' %}
                {%endif%}
                <li class="dropdown {{class}}">
                    <a class="dropdown-toggle" href="{{path('intrix_frontend_servico')}}">
                        Serviços
                        <i class="icon-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a alt="Desenvolvimento de site" href="{{path('intrix_frontend_servico_site')}}">Sites</a></li>
                        <li><a alt="Desenvolvimento de sitemas" href="{{path('intrix_frontend_servico_sistema')}}">Sistemas</a></li>
                        <li><a alt="Aluguel de site" href="{{path('intrix_frontend_servico_aluguel')}}">Aluguel de site</a></li>
                        <li><a alt="Manutenção de site" href="{{path('intrix_frontend_servico_manutencao')}}">Manutenção em sites/sistemas</a></li>
                        <li><a alt="Hospedagem de site" href="{{path('intrix_frontend_servico_hospedagem')}}">Hospedagem</a></li>
                        <li><a alt="Desenvolvimento de Loja online/virtual" href="{{path('intrix_frontend_servico_loja')}}">Loja Online</a></li>
                        <li><a alt="Ferramentas de SEO" href="{{path('intrix_frontend_servico_seo')}}">SEO</a></li>
                    </ul>
                </li>
                {% set class = '' %}
                {% if valor is defined %}
                    {% set class = 'active' %}
                {%endif%}
                <li class="dropdown {{class}}">
                    <a class="dropdown-toggle" href="">
                        Valores
                        <i class="icon-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a alt="Valor Desenvolvimento de site" href="{{path('intrix_frontend_valor_site')}}">Sites</a></li>
                        <li><a alt="Valor Aluguel de site" href="{{path('intrix_frontend_valor_aluguel')}}">Aluguel de site</a></li>
                        <li><a alt="Valor Hospedagem de site" href="{{path('intrix_frontend_valor_hospedagem')}}">Hospedagem</a></li>
                    </ul>
                </li>
                {% set class = '' %}
                {% if contato is defined %}
                    {% set class = 'active' %}
                {%endif%}
                <li class="{{class}}">
                    <a href="{{path('intrix_frontend_contato')}}">Contato</a>
                </li>

            </ul>
        </nav>
    </div>
</header>